BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never

BreakBeforeBraces: Attach

PointerAlignment: Left
ReferenceAlignment: Right

IncludeBlocks: Preserve
SpaceAfterCStyleCast: true
SpacesInParentheses: false
SpaceBeforeParens: Always
SpaceInEmptyParentheses: false

AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: false

# Function declaration/parameters wrapping
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AlignAfterOpenBracket: BlockIndent